{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django</title>
    <link rel="stylesheet" href="{% static '/stile/stilos.css' %}">

</head>
<body>
    <nav class="nagvar contenedor">
        <ul>
            <li>
                <a href="{% url 'index' %}">home</a>
            </li>
            <li>
                <a href="{% url 'about' %}">about</a>
            </li>
            <li>
                <a href="{% url 'projects' %}">projects</a>
            </li>
            <li>
                <a href="{% url 'tasks' %}">tasks</a>
            </li>
            <li>
                <a href="{% url 'create' %}">create</a>
            </li>
            <li>
                <a href="{% url 'create_project' %}">crear proyecto</a>
            </li>
        </ul>
    </nav>
    <main class="contenedor">
        {% block content %} 
        {% endblock %}
    </main>
</body>
</html>