body{
    background: #202020;
    color: whitesmoke;
}
.nagvar{
    background: #404040;
    padding: 5px 0;
}

.nagvar ul{
    display: flex;
    justify-content: space-between;
}
.nagvar ul li{
    list-style: none;
}
.nagvar ul li a{
    color: white;
    text-decoration: none;
}
.nagvar ul li a:hover{
    color: aquamarine;
}
.contenedor{
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
}
.cart{
    background: whitesmoke;
    color: black;
    padding: 10px;
    margin-bottom: 2px;
}
.input{
    background: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}